@media (max-device-width: 812px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;
}
#header {
  margin-top: calc(50vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#header img {
  height: 105px;
  padding-top: 15px;
  margin-left: 40px;
}
#header h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 95px;
  line-height: 100px;
  text-align: center;
  text-shadow: 8px 4px 10px rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0;
}
#links {
  text-align: center;
}
#links a {
  color: white;
  text-decoration: none;
}
#email-signup {
  text-align: center;
  margin-top: 36px;
  font-family: 'Lato', sans-serif;
  color: white;
}
#email-signup input {
  margin-left: 8px;
}
#contact {
  margin-top: 24px;
  text-align: center;
}
#contact a {
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
}
.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  background-color: black;
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.announcement {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 36px;
  background-color: #F5EAE9;
  display: block;
}
.announcement p {
  color: black;
  text-align: center;
  margin-top: 8px;
}
#landing {
  background: linear-gradient(194.23deg, #6B5D6F 58.06%, #EFE2E1 90.07%) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  max-width: 100vw;
}
#supercell {
  display: none;
}
#supercell-text {
  z-index: 100;
  height: 100vh;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
  clip-path: polygon(0% 1%, 0% 99%, 61% 100%, 61% 35%, 99% 1%);
}
#supercell-text h1 {
  font-weight: 900;
  font-size: 32px;
}
#supercell-text strong {
  font-size: 16px;
}
#supercell-text p {
  font-size: 14px
  margin-block-end: 1.5em;
}
#supercell-text #button {
  display: block;
  background: radial-gradient(109.55% 109.55% at 50% 0%, #C4C4C4 64.58%, #F9F01A 100%);
  background-blend-mode: color-dodge;
  border: 1px solid #304659;
  box-sizing: border-box;
  border-radius: 131px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 220px;
  margin-top: 48px;
}
@media (min-device-width: 813px) {
  #supercell {
    display: inline;
    min-width: 50vw;
    max-width: 1500px;
  }
  #landing {
    margin: 0;
    background: url('denise-unhappy.jpg') no-repeat top right -20vw fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #supercell-text {
    max-width: 800px;
    min-width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 48px;
  }
  #supercell-text h1 {
    padding-right: 25vw;
  }
  #supercell-text p {
    padding-right: 44vw;
  }
}
@media (min-device-width: 813px) and (max-aspect-ratio: 7/5) {
  #landing {
    background: url('denise-unhappy.jpg') no-repeat top right -40vw fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-device-width: 813px) and (max-aspect-ratio: 6/5) {
  #landing {
    background: url('denise-unhappy.jpg') no-repeat top right -50vw fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-device-width: 813px) and (max-aspect-ratio: 1/1) {
  #landing {
    background: url('denise-unhappy.jpg') no-repeat top right -60vw fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-device-width: 813px) and (min-aspect-ratio: 5/6) and (max-aspect-ratio: 1/1) {
  #landing {
    background: url('denise-unhappy.jpg') no-repeat top right -70vw fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-device-width: 813px) and (min-aspect-ratio: 5/7) and (max-aspect-ratio: 5/6) {
  #landing {
    background: url('denise-unhappy.jpg') no-repeat top right -90vw fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
}
@media (min-width: 740px) and (max-width: 985px) {
  #supercell-text p {
    padding-right: 50vw;
  }
}
@media (min-width: 1300px) {
  #supercell-text {
    font-size: 18px;
  }
  #supercell-text h1 {
    padding-right: 17vw;
    font-size: 48px;
  }
  #supercell-text p {
    padding-right: 37vw;
  }
  #supercell-text strong {
    font-size: 20px;
  }
  #supercell-text #button {
    font-size: 28px;
    width: 300px;
  }
}
